@model IEnumerable<BrConselhosProva.WebApp.Models.TeacherListViewModel>

@{
    ViewBag.Title = "Professores";
}

<h2>Lista de Professores</h2>

<div class="menu-right">

    @using (Html.BeginForm("FilterList", "Teacher", FormMethod.Get, htmlAttributes: new { @class = "form-button-menu" }))
    {
        <button class="btn" type="submit">
            Filtro de professores cuja média de idade de seus alunos é de 15 a 17 anos
        </button>
    }

    @using (Html.BeginForm("List", "Teacher", FormMethod.Get, htmlAttributes: new { @class = "form-button-menu" }))
    {
        <button class="btn" type="submit">
            Limpar filtro
        </button>
    }


    @using (Html.BeginForm("Create", "Teacher", FormMethod.Get, htmlAttributes: new { @class = "form-button-menu" }))
    {
        <button class="btn btn-success menu-left" type="submit">
            Adicionar
        </button>
    }

</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Excluir", "DeleteTeacher", new { id = item.Id })
            </td>
        </tr>
    }

</table>
